.headder_wrapper{
    margin-top: 150px;
    display: grid;
      column-gap: 50px;
    padding: 0px 100px;
    padding-bottom: 50px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    /* background-color: #502cb3; */
}
.left-header{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}
.fisrt_para{
  
    background-color: aliceblue;
    font-size: 10px;
    padding: 5px 5px;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}
h1{
    /* font-size: 50px */
    font-weight: bold;
    font-size: 50px;

}
h1 span {
  background: linear-gradient(135deg, #5F2EEA, #8A2BE2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.second_para{
    color: rgba(99, 99, 99, 0.84);
}
.buttons-wrapper{
    display: flex;
    gap: 30px;
}
.buttons-wrapper button:nth-child(1){
     background: linear-gradient(135deg, #5F2EEA, #8A2BE2);
        border: none;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    font-weight: 450;
    font-size: 13px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.308);
    transition: .14s all ease;
    &:hover{
         background: linear-gradient(135deg, #502cb3, #702bb0);
    }
     
}
.buttons-wrapper button:nth-child(2){
    border: 1px solid rgba(150, 147, 147, 0.511);
    padding: 5px 10px;
    border-radius: 10px;
    color: rgb(59, 55, 55);
    font-weight: 450;
    font-size: 13px;
    transition: .14s all ease;
    &:hover{
        background-color: #e6dedec4;
    }
}
.bi-star-fill {
  color: gold;
}
.feed_back_section{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background: #000; */
    gap: 30px;
}
.rating{
    display: flex;
    gap: 3px;
}
.feed_back{
    display: flex;
    flex-direction: column;
    
}
.rating_acc_profile_pic{
    display: grid;
    grid-template-columns: repeat(4,30px);
}
.rating_para{
    font-size: 12px;
}
.rating_acc_profile_pic img{
   height: 40px;
   border: 2px solid white;
}
.right-header{
    position: relative;
   
    width: 100%;
    
}
.right-header img{
   
   width: 500px;
   border-radius: 20px;
   z-index: 1;
   
}
.div_50k{
    position: absolute;
    display: flex;
    gap: 20px;
    align-items: center;
    top:24%;
    left: -50px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 11px;
}
.div_50k span,.Div_500 span{
    font-weight:bold;
    font-size: 30px;

}
.div_50k .bi-people,.Div_500 .bi-book{
  background-color: #e0e7ff;
  color: #4e38f5;
  font-size: 30px;
  padding: 10px 15px;
  border-radius: 10px;
}
.Div_500{
     position: absolute;
    display: flex;
    gap: 20px;
    align-items: center;
    bottom:24%;
    right: -50px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 11px;
}
.banner_bg{
    position: absolute;
    height: 100%;
    width: 100%;
   background: linear-gradient(135deg, #502cb36c, #702bb056);
    top: 0;

    z-index: -1;
    filter: blur(50px);
    

}

/* headder responsive  */
@media (min-width:1000px) and (max-width:1100px)  {
    .right-header img{
        width: 500px;
    }
    .headder_wrapper{
    margin-top: 150px;
      column-gap: 50px;
    padding: 50px 50px;
    
}
}
@media (min-width:200px) and (max-width:1000px) {
    .headder_wrapper{
        margin-top: 150px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 1fr, 600px;
      row-gap: 30px;
      padding: 40px 70px;
   
    }
    .right-header img{
        width: 100%;
    }
    .div_50k{
    gap: 10px;
    padding: 5px 10px;
    top:24%;
    left: -20px;
}
.div_50k span,.Div_500 span{
    font-size: 20px;

}
.div_50k .bi-people,.Div_500 .bi-book{
  font-size: 20px;
  padding: 5px 10px;
}
.Div_500{
    gap: 10px;
    padding: 5px 10px; 
        bottom:24%;
    right: -20px;
}
}
@media (min-width:200px) and (max-width:550px) {

     .headder_wrapper{
        margin-top: 20%;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 1fr, 400px;
      row-gap: 30px;
      padding: 30px 30px;
   
    }
        .div_50k{
    gap: 10px;
    padding: 5px 5px;
}
.div_50k span,.Div_500 span{
    font-size: 15px;
    

}
.div_50k .bi-people,.Div_500 .bi-book{
  font-size: 10px;
  padding: 5px 10px;
}
.Div_500{
    gap: 10px;
    padding: 5px 5px;    
}
.buttons-wrapper {
    flex-direction: column;
}
.right-header img{
   display: inline-block;
}
}