.custom-navbar {
  padding: 0px 50px;
  width: 100%;
  border-top: 1px solid rgba(185, 181, 181, 0.345);
  border-bottom: 1px solid rgba(185, 181, 181, 0.345);
  backdrop-filter: blur(6px);
}

/* Logo */
.logo_part img {
  width: 100px;
  height: auto;
}

/* Menu */
.navigation_part ul {
  list-style: none;
  display: flex;
}

/* Menu items */
.nav-item {
  font-size: small;
  cursor: pointer;
  transition: 0.2s;
}

/* Normal links */
.nav-item:not(.cta):not(.login) {
  color: rgb(159, 157, 157);
}

.nav-item:not(.cta):not(.login):hover {
  color: black;
}

/* Login + CTA */
.login,
.cta {
  padding: 6px 14px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.login {
  border: 1px solid #8A2BE2;
  color: #8A2BE2;

  &:hover {
    background: linear-gradient(135deg, #5F2EEA, #8A2BE2);
    color: white;
  }
}

.cta {
  background: linear-gradient(135deg, #5F2EEA, #8A2BE2);
  color: white;

  &:hover {
    background: linear-gradient(135deg, #684bb2, #8a3dd8);
  }
}


/* Mobile */
@media (max-width: 991px) {
  .navigation_part ul {
    flex-direction: column;
    /* align-items: center; */
    align-items: start;
    padding-top: 15px;
    gap: 15px;
  }

  .custom-navbar {
    padding: 10px 10px;
  }
}